footer{
    flex:1 0 100%;
    background-color: #464547;
    height: 170px;
    padding:37px 0 78px 0;
}

footer .container{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap:80px;
}

footer img{
    margin-right: 16px;
}


#contact{
    max-width:174px;
    text-align: left;
}

#contact span{
    display:inline-block;
    margin-bottom: 27px;
}


footer .title{
    text-transform: uppercase;
    color:#FFFFFF;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 16px;
    font-weight:400;
}

footer span,
footer a,
footer small{
    color:rgba(255, 255, 255, 0.4);
    font-size:16px;
    font-weight: 400;
    line-height: 19px;
}

footer small{
    text-align: end;
    margin-top: 65px;
}